body{
	margin: 0;
	padding: 0;
}
#container_slider_product {
	height: 100vh;
	display: grid;
	place-items: center;
	/* background-color: #000; */
}
#slider_product {
	height: 300px;
	width: 85vw;
	max-width: 1400px;
	position: relative;
	overflow: hidden;
	padding: 20px;
}
#slider_product .btn_slider_product {
	position: absolute;
	top: calc(50% - 30px);
	height: 15px;
	width: 15px;
	border-left: 8px solid #696969;
	border-top: 8px solid #696969;
	cursor: pointer;
}
#slider_product .btn_slider_product:hover {
	transform: scale(1.2);
}
#slider_product .btn_slider_product.inactive {
	border-color: #282828
}
#slider_product .btn_slider_product:first-of-type {
	transform: rotate(-45deg);
	left: 10px
}
#slider_product .btn_slider_product:last-of-type {
	transform: rotate(135deg);
	right: 10px;
}
#slider_product #list_product {
	display: flex;
	width: 1000%;
	height: 100%;
	transition: all .5s;
}






#slider_product #list_product .product {
	height: 90%;
	margin: auto 10px;
	background-color: #b5b5b5;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
	display: grid;
	place-items: center;
}
#slider_product #list_product .product span {
	color: white;
	font-size: 60px;
}
@media only screen and (min-width: 1100px) {
	#slider_product #list_product .product {
		width: calc(2.5% - 20px);
	}
}
@media only screen and (max-width: 1100px) {
	#slider_product #list_product .product {
		width: calc(3.3333333% - 20px);
	}
}
@media only screen and (max-width: 900px) {
	#slider_product #list_product .product {
		width: calc(5% - 20px);
	}
}
@media only screen and (max-width: 550px) {
	#slider_product #list_product .product {
		width: calc(10% - 20px);
	}
}

