@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@100&display=swap');

:root {    
    --header-height: 12.5vh;
    --nav-height: 8vh;

    --border-article: 50px;
    --border-title: 7px;
    --border-item: 25px;
    --border-product: 10px;
    --border-tag: 25px;

    --color_test: #000000;
    --font_test: #fff;

    --background: #ffffff;
    --color1: #0C0A3E;
    --color2: #242281;
    --color3: #fff;
    --color4: #368DBE;
    --color5: #173292;
    --color6: #E6E6E6;
    --color7: #ADD3FF;
    --color8: #060528;
    --color-title1: #000747;
    --color-title2: #000425;
    --color-button-product: #3f3ce2;
    --color-button-product2: #599cff;
    --color-background-product: #bebebe;
    --color-product: #fff;
    --font1: #000;
    --font2: #fff;
    --font3: #fff;   

}

.body_section {
    background-color: var(--background);
    margin: 0px;
    font-family: Poppins, sans-serif;
    font-size: 90%;  
    min-height: 100vh;
    color: #000;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: var(--header-height) var(--nav-height) auto auto;    
}

a {
    color: var(--font2);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--font2);
    /* background-color: var(--color1); */
    font-size: 25px;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 20px;
    outline: none;
}

header,
nav,
article {
    padding: 5px
}

header {
    background-color: var(--color1);
    display: grid;
    grid-template-columns: 15% auto 15% 15%;
    grid-template-rows: auto;
    align-items: center;
    /* width: 100%;
    position: fixed; 
    height: var(--header-height); */
}

header input {
    width: 90%;
    border-radius: 100px;
    border: 0px;
    height: 30px;
}

header a,
header div 
{
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: var(--font2);
}

header i {
    margin-inline: 10px;
    font-size: 150%;
}

header img {
    height: 60px;
} 

nav {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-inline: 40px; */
    gap: 90px;
    /* border-bottom-left-radius: var(--border-tag);
    border-bottom-right-radius: var(--border-tag);         */
}

nav a {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-inline: 25px;
    border-radius: var(--border-item);    
    border: 1px solid var(--font2);
    background-color: var(--color2);
    color: var(--font2);
}

nav a:hover {    
    background-color: var(--font2);
    color: var(--color2);
    transition: 0.1s;
}

nav i {
    margin-right: 10px;
    font-size: 125%;
}

/* PIE DE PAGINA */

footer {
    padding: 25px;
    background-color: var(--color8);
    color: var(--font3);
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4,auto);    
    /* border-top-left-radius: var(--border-tag);
    border-top-right-radius: var(--border-tag); */
}

footer h2 {
    background-color: var(--background);
    color: var(--color8);
    text-align: center;
    border-radius: var(--border-tag);
    padding-inline: 20px;
}

#logo_footer {
    height: 125px;
    border-bottom: 1px solid var(--background);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#social {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,50px);
    justify-items: center;
}

#social i {
    font-size: 35px;
}

.footer_column {
    align-self: flex-start;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer_column a,
.footer_column p {
    margin-bottom: 10px;
}

/* CONTENIDO */

section {
    display: grid;
    grid-template-columns: 100%;
    /* gap: 15px; */
    gap: 10px;
}

section article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    /* border-radius: var(--border-article); */
}

section article h1 {
    border-radius: var(--border-title);
    width: fit-content;
    padding-inline: 20px;
    padding-block: 5px;
    margin-block: 5px;
    justify-self: center;
    background-color: var(--color-title2);
    /* background-color: inherit; */
    filter: brightness(1.5);
}

section article h1:hover {
    scale: 1.075;
    transition: 0.1s;
}

/* PROMOCIONES */

.article_promotion {
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
    color: white;
    /* max-width: 48rem; */
}

.article_promotion div {
    display: flex; 
    justify-content: center; 
    width: 100%;
}

#slider_news {
    display: flex;
    margin-bottom: 15px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* -ms-overflow-style: none; */
    scrollbar-width: none;
}

#slider_news img{   
    /* height: 650px; */
    width: 100%;
    /* margin-inline: 10px; */
    border-radius: var(--border-item);

    /* flex: 1 0 100%; */
    scroll-snap-align: start;
    object-fit: cover;
}

#slider-nav_news {
    margin-bottom: 0;
    column-gap: 1rem;

    /* position: absolute; */
    /* bottom: 1.25rem; */
    transform: translateX(-50%);
    z-index: 1;
}

#slider-nav_news a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

#slider-nav_news a:hover {
    opacity: 1;
}

/* OFERTAS */

.article_for_sale {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: auto;
    background-color: var(--color4);
    justify-content: center;
}

/* .article_for_sale h1 {
    background-color: var(--color4);
} */

.article_for_sale>div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    height: auto;
    /* background-color: var(--color3); */
    justify-content: center;
}

.article_for_sale>div img {
    height: 350px;
    border-radius: var(--border-item);
    text-align: center;
}

/* PRODUCTOS */

.article_products {
    flex-direction: column;
}

.list_product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.product {
    /* width: fit-content; */
    border-radius: var(--border-product);
    padding: 0px;
    font-size: 85%;
    width: 190px;
    /* height: 400px; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "info info"
                         "fav plus";
    box-shadow: 0px 3px 10px #0000008c;
    color: var(--font1);
    gap: 1px;
    background-color: var(--color-background-product);
}

.product:hover {
    scale: 1.05;
    transition: 0.1s;
}

.product a>p {
    font-size: 115%;
}

.product a {
    padding-inline: 15px;
    padding-block: 10px;
}

.product a img {
    height: 150px;
    width: 150px;
}

.product_info {
    border-top-left-radius: var(--border-product);
    border-top-right-radius: var(--border-product);
    grid-area: info;
    color: #000;
    background-color: var(--color-product);
}

.product_price {

    display: flex;
    align-items: center;
    width: 100%;
}

.product_price p {
    margin-block: 5px;
}

.product_price_title {
    text-align: left;
    padding-right: 25px;
    font-weight: bold;
}

.price_regular {
    color: grey;
    font-size: 95%;
}

.price_online {
    color: black;
    font-size: 120%;
}

.price_for_sale {
    color: red;
    font-size: 150%;
}

.product_price_number {
    margin-left: auto;
    display: flex;
    align-items: baseline;

}

.product_price_number sup {
    font-size: 75%;
}

.product_option_fav {
    border-bottom-left-radius: var(--border-product);
    grid-area: fav;
}

.product_option_add {
    border-bottom-right-radius: var(--border-product);
    grid-area: plus;
}

.product_option_fav, 
.product_option_add {
    font-size: 150%;
    background-color: var(--color-button-product);
    color: white;
    height: 30px;
}

.product_option_fav:hover, 
.product_option_add:hover {
    background-color: var(--color-button-product2);
}

/* LO MAS NUEVO */

#product_new {
    background-color: var(--color5);
}

#product_new  h1 {
    background-color: var(--color-title1);
}

/* LO MAS POPULAR */

#product_popular {
    background-color: var(--color6);
}

#product_popular  h1 {
    background-color: var(--color-title1);
}

/* MARCAS */

.article_brands {
    background-color: var(--color7);
    flex-direction: column;
}

.article_brands h1 {
    background-color: var(--color-title2);
}

.brand_content {
    display: flex;
    gap: 50px;
    /* flex-direction: row; */
    align-items: center;    
    width: auto;
}

.brand_name {
    text-align: center;
    font-size: 120%;
    color: white;
    background-color: var(--color5);
    border-radius: var(--border-item);
}

.brand_content div:not(.product) {
    display: flex;
}

.brand_picture {
    /* background-color: white; */
    flex-direction: column;
    justify-content: center;
}

.brand_picture img {
    height: 150px;
    width: 150px;
    border-radius: var(--border-item);
}

.brand_new {
    background-color: #000;
}

.brand_new img {
    height: 400px;
    /* width: 400px; */
}

/* 2 O MAS ARTICLES */

.article_brands>div ,
.article_products>div {
    margin: 20px;
}



