@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@100&display=swap');

:root {    
    --header-height: 12.5vh;
    --nav-height: 8vh;

    --border-article: 50px;
    --border-title: 7px;
    --border-item: 25px;
    --border-product: 10px;
    --border-tag: 15px;

    --color_test: #000000;
    --font_test: #fff;

    /* --color1: #27113b;  
    --color2: #321070;
    --color3: #f4dbff;
    --color4: #692fa0;
    --color5: #d3a1eb;
    --color6: #bf6be6;
    --color7: #914faf;
    --color8: #f3daff;
    --color-title: #00000062;
    --color-button-product: #6810a2;
    --color-button-product2: #320146;
    --font1: #000;
    --font2: #fff;
    --font3: #35007a;
    --background: #fff; */

    /*   
    --color1: #27113b;  
    --color2: #321070;
    --color3: #fff;
    --color4: #80ffee;
    --color5: #fff;
    --color6: #fff;
    --color7: #fff;
    --color8: #2c023f;  */

    /* --color1: #27113b;    
    --color7: #321070;
    --color6: #0EE799;
    --color5: #00b9be;
    --color4: #0086c8;
    --color3: #004fa5;
    --color2: #370d5e;
    --color8: #2c023f; */

    /* header */
    /* --color1: #27113b;   */
    /* nav   */
    /* --color2: #321070; */
    /* fondo */
    /* --color3: #fff; */
    /* ofertas */
    /* --color4: #80ffee; */
    /* fondo */
    /* --color5: #fff; */
    /* --color6: #fff; */
    /* --color7: #fff; */
    /* footer */
    /* --color8: #2c023f; */

    /* --color1: #11333b;  
    --color2: #105570;
    --color3: #dbecff;
    --color4: #2fa0a0;
    --color5: #a1dceb;
    --color6: #6bd8e6;
    --color7: #4facaf;
    --color8: #dafbff;
    --color-title: #002024a9;
    --color-button-product: #1098a2;
    --color-button-product2: #014246;
    --font1: #000;
    --font2: #fff;
    --font3: #006c7a;
    --background: #dbecff;
    --color-background-product: #bebebe; */

    /* --background: #e8fcff;
    --color1: #11333b;  
    --color2: #105570;
    --color3: var(--background);
    --color4: #2fa0a0;
    --color5: #a1dceb;
    --color6: var(--background);
    --color7: var(--background);
    --color8: var(--background);
    --color-title: #11333bc7;
    --color-button-product: #1098a2;
    --color-button-product2: #014246;
    --color-background-product: #bebebe;
    --color-product: #fff;
    --font1: #000;
    --font2: white;
    --font3: #006c7a; */

    /* --background: #e7d4ff;
    --color1: #23113b;  
    --color2: #351979;
    --color3: var(--background);
    --color4: #5a2fa0;
    --color5: var(--background);
    --color6: var(--font3);
    --color7: var(--background);
    --color8: #2c023f;
    --color-title: #23113bc7;
    --color-button-product: #4f10a2;
    --color-button-product2: #270146;
    --color-background-product: #bebebe;
    --color-product: #fff;
    --font1: #000;
    --font2: #fff;
    --font3: #d5b5ff; */

    /* --background: #ffffff;
    --color1: #23113b;  
    --color2: #3a1070;
    --color3: var(--background);
    --color4: #6428c5;
    --color5: var(--background);
    --color6: var(--font3);
    --color7: var(--background);
    --color8: #2c023f;
    --color-title: #2e0b5cda;
    --color-button-product: #4f10a2;
    --color-button-product2: #270146;
    --color-background-product: #bebebe;
    --color-product: #fff;
    --font1: #000;
    --font2: #fff;
    --font3: #dbc0fc; */

    /* --background: #d8f7ff;
    --color1: #041396;  
    --color2: #113dcf;
    --color3: var(--background);
    --color4: #0b43ac;
    --color5: var(--background);
    --color6: var(--font3);
    --color7: var(--background);
    --color8: #001e57;
    --color-title: #0b135cda;
    --color-button-product: #0744b4;
    --color-button-product2: #002077;
    --color-background-product: #bebebe;
    --color-product: #fff;
    --font1: #000;
    --font2: #fff;
    --font3: #7dd6ff; */

    --background: #ead8ff;
    --background: #fff;
    --color1: #4f0496;  
    --color2: #0ca0c5;
    --color3: var(--background);
    --color4: #a862e9;
    --color5: var(--background);
    --color6: #99ddfd;
    /* --color7: #4faaff; */
    --color7: var(--background);
    --color8: #370057;
    --color-title1: #2e0b5cda;
    --color-title2: #084568;
    --color-button-product: #078cb4;
    --color-button-product2: #004b77;
    --color-background-product: #bebebe;
    --color-product: #fff;
    --font1: #000;
    --font2: #fff;
    --font3: #67cfff;


    /* --color1: var(--color_test);
    --color2: var(--color_test);
    --color3: var(--color_test);
    --color4: var(--color_test);
    --background: var(--color_test);
    --font1: var(--font_test);
    --font2: var(--font_test);
    */
    

}

.body_section {
    background-color: var(--background);
    margin: 0px;
    font-family: Poppins, sans-serif;
    font-size: 90%;  
    min-height: 100vh;
    color: #000;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: var(--header-height) var(--nav-height) auto auto;    
}

a {
    color: var(--font2);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--font2);
    /* background-color: var(--color1); */
    font-size: 25px;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 20px;
    outline: none;
}

header,
nav,
article {
    padding: 5px
}

header {
    background-color: var(--color1);
    display: grid;
    grid-template-columns: 15% auto 15% 15%;
    grid-template-rows: auto;
    align-items: center;
    /* width: 100%;
    position: fixed; 
    height: var(--header-height); */
}

header input {
    width: 90%;
    border-radius: 100px;
    border: 0px;
    height: 30px;
}

header a,
header div 
{
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: var(--font2);
}

header i {
    margin-inline: 10px;
    font-size: 150%;
}

header img {
    height: 60px;
} 

nav {
    background-color: var(--color2);
    display: grid;
    align-items: center;
    grid-template-columns: 10% repeat(4,auto);
    padding-inline: 20px;
    gap: 90px;
    border-bottom-left-radius: var(--border-tag);
    border-bottom-right-radius: var(--border-tag);
}

nav a {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: var(--border-item);    
    border: 1px solid var(--font2);
    background-color: var(--color2);
    color: var(--font2);
}

nav a:hover {    
    background-color: var(--font2);
    color: var(--color2);
    transition: 0.1s;
}

nav i {
    margin-right: 10px;
    font-size: 125%;
}

footer {
    padding: 15px;
    color: var(--font3);
    display: grid;
    grid-template-columns: repeat(4,auto);
    background-color: var(--color8);
    border-top-left-radius: var(--border-tag);
    border-top-right-radius: var(--border-tag);
}

footer p {
    text-align: center;
    margin-top: 10px;
}

#redes {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,50px);
    justify-items: center;
}

#redes i {
    font-size: 35px;
} 

section {
    display: grid;
    grid-template-columns: 100%;
    /* gap: 15px; */
    gap: 10px;
}

section article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    border-radius: var(--border-article);
}

section article h1 {
    border-radius: var(--border-title);
    width: fit-content;
    padding-inline: 20px;
    padding-block: 5px;
    margin-block: 5px;
    justify-self: center;
    background-color: var(--color-title2);
    /* background-color: inherit; */
    filter: brightness(1.5);
}

section article h1:hover {
    scale: 1.1;
    transition: 0.1s;
}

/* PROMOCIONES */

.article_promotion {
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
    color: white;
    /* max-width: 48rem; */
}

.article_promotion div {
    display: flex; 
    justify-content: center; 
    width: 100%;
}

#slider_news {
    display: flex;
    margin-bottom: 15px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* -ms-overflow-style: none; */
    scrollbar-width: none;
}

#slider_news img{   
    /* height: 650px; */
    width: 70%;
    /* margin-inline: 10px; */
    border-radius: var(--border-item);

    /* flex: 1 0 100%; */
    scroll-snap-align: start;
    object-fit: cover;
}

#slider-nav_news {
    margin-bottom: 0;
    column-gap: 1rem;

    /* position: absolute; */
    /* bottom: 1.25rem; */
    transform: translateX(-50%);
    z-index: 1;
}

#slider-nav_news a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

#slider-nav_news a:hover {
    opacity: 1;
}

/* OFERTAS */

.article_for_sale {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: auto;
    background-color: var(--color4);
    justify-content: center;
}

/* .article_for_sale h1 {
    background-color: var(--color4);
} */

.article_for_sale>div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    height: auto;
    /* background-color: var(--color3); */
    justify-content: center;
}

.article_for_sale>div img {
    height: 350px;
    border-radius: var(--border-item);
    text-align: center;
}

/* PRODUCTOS */

.article_products {
    flex-direction: column;
}

.list_product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.product {
    /* width: fit-content; */
    border-radius: var(--border-product);
    padding: 0px;
    font-size: 85%;
    width: 190px;
    height: 400px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "info info"
                         "fav plus";
    box-shadow: 0px 3px 10px #0000008c;
    color: var(--font1);
    gap: 1px;
    background-color: var(--color-background-product);
}

.product:hover {
    scale: 1.05;
    transition: 0.1s;
}

.product a>p {
    font-size: 115%;
}

.product a {
    padding-inline: 15px;
    padding-block: 10px;
}

.product a img {
    height: 150px;
    width: 150px;
}

.product_info {
    border-top-left-radius: var(--border-product);
    border-top-right-radius: var(--border-product);
    grid-area: info;
    color: #000;
    background-color: var(--color-product);
}

.product_price {

    display: flex;
    align-items: center;
    width: 100%;
}

.product_price p {
    margin-block: 5px;
}

.product_price_title {
    text-align: left;
    padding-right: 25px;
    font-weight: bold;
}

.price_regular {
    color: grey;
    font-size: 95%;
}

.price_online {
    color: black;
    font-size: 120%;
}

.price_for_sale {
    color: red;
    font-size: 150%;
}

.product_price_number {
    margin-left: auto;
    display: flex;
    align-items: baseline;

}

.product_price_number sup {
    font-size: 75%;
}

.product_option_fav {
    border-bottom-left-radius: var(--border-product);
    grid-area: fav;
}

.product_option_add {
    border-bottom-right-radius: var(--border-product);
    grid-area: plus;
}

.product_option_fav, 
.product_option_add {
    font-size: 150%;
    background-color: var(--color-button-product);
    color: white;
    height: 30px;
}

.product_option_fav:hover, 
.product_option_add:hover {
    background-color: var(--color-button-product2);
}

/* LO MAS NUEVO */

#product_new {
    background-color: var(--color5);
}

#product_new  h1 {
    background-color: var(--color-title1);
}

/* LO MAS POPULAR */

#product_popular {
    background-color: var(--color6);
}

#product_popular  h1 {
    background-color: var(--color-title1);
}

/* MARCAS */

.article_brands {
    background-color: var(--color7);
    flex-direction: column;
}

.article_brands h1 {
    background-color: var(--color-title2);
}

.brand_content {
    display: flex;
    gap: 50px;
    /* flex-direction: row; */
    align-items: center;    
    width: auto;
}

.brand_content div:not(.product) {
    display: flex;
}

.brand_picture {
    /* background-color: white; */
    flex-direction: column;
    justify-content: center;
}

.brand_picture img {
    height: 150px;
    width: 150px;
    border-radius: var(--border-item);
}

.brand_new {
    background-color: #000;
}

.brand_new img {
    height: 400px;
    width: 400px;
}

/* 2 O MAS ARTICLES */

.article_brands>div ,
.article_products>div {
    margin: 20px;
}






/* ****************************************************** */

/* header,
nav,
article,
section,
footer {
    border: 1px solid #ffffff;
    color: var(--font_test);
}

a {
    border: 1px solid #ff0000;
    color: var(--font_test);
}

div {
    border: 1px solid #0051ff;
    color: var(--font_test);
}

i {
    border: 1px solid #c21292;
    color: var(--font_test);
}

p {
    border: 1px solid #40ef40;
    color: var(--font_test);
}

input {
    border: 1px solid #00ffea;
    color: var(--font_test);
}

img {
    border: 1px solid #a200ff;
    color: var(--font_test);
}

strong {
    border: 1px solid #ff6600;
    color: var(--font_test);
}

h1 {
    border: 1px solid #ffe600;
    color: var(--font_test);
}
 */


