/* ------------------- CARRITO --------------- */
:root {
    /* --color-cart: #4e4e8c; */
    --color-cart: #144ba2;
    --size-bubble-cart: 1.8rem;
}

.cart_container {
    margin: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* Cabecera */

.head_info_cart {
    display: grid;
    width: 100%;
    padding-block: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3,auto);
    grid-template-areas: "hc_title hc_progress hc_continue";
    align-items: center;
    font-size: 1.2rem;
}

.head_cart_title {
    display: grid;
    justify-content: center;
    font-size: 120%;
    grid-area: hc_title;
    align-items: center;
    grid-template-areas: "hct_i hct_h1" "hct_i hct_sp";
}

.head_cart_title i {
    font-size: 210%;
    color: var(--color-cart);
    grid-area: hct_i;
    margin: 1rem;
}

.head_cart_title h1 {
    color: #000;
    grid-area: hct_h1;
    display: grid;
}

.head_cart_title span {
    grid-area: hct_sp;
}


.head_cart_progress {
    grid-area: hc_progress;
}

.step-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
}

.step {
    text-align: center;
    flex: 1;
    position: relative;
}

.step .circle {
    width: 24px;
    height: 24px;
    background-color: #555;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.step.active .circle {
    background-color: var(--color-cart);
}

.step .label {
    margin-top: 10px;
    color: #333;
}

.step::before, .step::after {
    content: '';
    position: absolute;
    top: 12px;
    height: 2px;
    background-color: #555;
    z-index: 0;
}

.step::before {
    left: 0;
    right: 50%;
}

.step::after {
    left: 50%;
    right: 0;
}

.step:first-child::before {
    display: none;
}

.step:last-child::after {
    display: none;
}

.head_cart_continue {
    display: flex;
    justify-content: center;
    grid-area: hc_continue;
}

.head_cart_continue #seguir {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-cart);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Contenido */

/* .content_cart {
    
} */


.cart_list_head {
    font-size: 1.2rem;

    display: flex;
    justify-content: flex-end; 
    align-items: center;
    background-color: var(--color-cart); 
    color: white;
    padding: 10px; 
    border-radius: 10px; 
    margin-bottom: 20px;
}

.header-item {
    text-align: center; 
    font-weight: bold;
}










@media (max-width:599px){    
    .head_info_cart {
        grid-template-columns: repeat(1,auto);
        grid-template-areas: "hc_progress" 
                             "hc_title" 
                             "hc_continue";
    }

    .head_cart_title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width:600px) and (max-width:1000px){
    .head_info_cart {
        grid-template-columns: repeat(2,auto);
        grid-template-areas: "hc_progress hc_progress" 
                             "hc_title hc_continue";
    }

    .head_cart_title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}






.header_carrito {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.img-carrito{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}


.nombreProducto {
    margin: 0;
    font-size: 0.8rem;
}

.vendido-por {
    margin: 0;
    font-size: 0.7rem;
}

.btn-round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 18px;
    color: var(--color-cart);
    border-color: var(--color-cart);
}

.cant {
    font-size: 1.2rem;
}

.signo {
    font-size: 18px; 
}

.cart-icon img {
    width: 40px; 
    height: auto;
}

.cart-summary {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.discount-code {
    margin-bottom: 20px;
}

.discount-code label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.discount-code input {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.discount-code button {
    padding: 10px 20px;
    background-color: var(--color-cart);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.discount-code p {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

.totals {
    margin-bottom: 20px;
}

.totals p {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 10px 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions .checkout {
    padding: 15px 30px;
    background-color: var(--color-cart);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



.actions .checkout {
    padding: 15px;
    background-color: var(--color-cart);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
}





.title_cart_products {
    color: #000;
}
