.pt-5{
    padding-top: 0 !important;
}
.mt-5{
    margin-top: 0 !important;
}
#fields {
    border: 0.5px solid #b4adad;
    padding: 15px; 
    border-radius: 5px; 
    margin: 20px;
}
.form-check-label{
    font-weight: bold;
    color:#5f5757;
}
.form-check-input{
    border: #5f5757 0.5px solid;
}

.body_page{
    background-color: #060639;
}

.contenedor_contactanos{
    background-color: #3b3b6b;
}

.formulario{
    background-color: #fff;
}

.btn-primary{
    background-color: #3b3b6b;
}

.btn-primary:hover{
    background-color: #192a56;
}
