.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #192a56; /* Fondo de las pestañas */
    margin-right: 5px;
}

.tab.active {
    border-bottom: 3px solid #fbc531; /* Color de la pestaña activa */
}

.order-filter {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.orders {
    background-color: #3b3b6b; /* Fondo de las tarjetas de pedidos */
    padding: 10px;
    border-radius: 5px;
}

.order-card {
    background-color: #fff; /* Color de las tarjetas individuales */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.order-header {
    font-weight: bold;
    background-color: #060528;
    text-align: center;

}

.order-body {
    padding-top: 5px;
    color: #000;
}

.form-select{
    background-color: #192a56;
    color: #fff;
}

.titulo_orden{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: bolder;
}
