:root {
    --size-product-pic: 150px;
    --color-button-product: #003f9e;
    --color-button-product2: #14006e;
    --color-background-product: #bebebe;
    --color-product: #fff;
}

/* PRODUCTOS */

.article_products {
    flex-direction: column;
    width: 100%;
}

/* .slider_product {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.list_product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: blueviolet;
    /* width: 100%; */
}

/* .btn_slider_product {
	
	cursor: pointer;
    z-index: 2000;
    color: white;
    background-color: #0014c4;
    padding: 20px;
    border-radius: 100px;
}

.btn_slider_product i {
    margin: 0;
    padding: 0;
}

.btn_slider_product:hover {
	transform: scale(1.2);
}

.btn_slider_product.inactive {
	border-color: var(--color2);
} */

/* .btn_slider_product:first-of-type {
	transform: rotate(-45deg);
	left: 100px
}

.btn_slider_product:last-of-type {
	transform: rotate(135deg);
	right: 100px;
} */









.product {
    border-radius: var(--border-product);
    padding: 0px;
    font-size: 85%;
    /* width: 190px; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "info info"
                         "fav plus";
    box-shadow: 0px 3px 10px #0000008c;
    color: var(--font1);
    gap: 1px;
    background-color: var(--color-background-product);
    transition: 0.1s ease;
    align-items: center;
    /* z-index: 5000; */
}

.product:hover {
    scale: 1.05;    
}

.product a > p {
    font-size: 115%;
    /* height: 50px; */
    /* align-items: center; */
}

.product a {
    padding-inline: 15px;
    padding-block: 10px;
}

.product_info {
    border-top-left-radius: var(--border-product);
    border-top-right-radius: var(--border-product);
    grid-area: info;
    color: #000;
    background-color: var(--color-product);
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: 4fr 2fr 1fr 1fr 1fr;
    grid-template-areas: "prod_card_pic"
                         "prod_card_name"
                         "prod_card_reg"
                         "prod_card_onl"
                         "prod_card_sale";
    justify-content: center;
    align-items: center;
}

.product_pic {
    height: var(--size-product-pic);
    width: var(--size-product-pic);
    justify-self: center;
    grid-area: prod_card_pic;
}

.product_name {
    margin: 0;
    grid-area: prod_card_name;
}

.product_price {
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
}

.product_price p {
    margin-block: 5px;
}

.product_price_title {
    text-align: left;
}

.price_regular {
    color: grey;
    font-size: 90%;
    grid-area: prod_card_reg;
}

.price_online {
    color: black;
    font-size: 110%;
    grid-area: prod_card_onl;

}

.price_for_sale {
    color: red;
    font-size: 130%;
    grid-area: prod_card_sale;
}

.product_price_number {
    margin-left: auto;
    display: flex;
    align-items: baseline;
}

.product_price_number sup {
    font-size: 75%;
}

.product_option_fav {
    border-bottom-left-radius: var(--border-product);
    grid-area: fav;
}

.product_option_add {
    border-bottom-right-radius: var(--border-product);
    grid-area: plus;
}

.product_option_fav, 
.product_option_add {
    font-size: 150%;
    color: var(--color-button-product);
    background-color: white;
    /* background-color: var(--color-button-product);
    color: white; */
}

.product_option_fav:hover, 
.product_option_add:hover {
    /* background-color: var(--color-button-product2);
    color: white; */
    background-color: var(--color-button-product);
    color: white;

}


