:root {    
    --height-main-header: 22vh;

    --border-article: 50px;
    --border-title: 7px;
    --border-item: 25px;
    --border-product: 10px;
    --border-tag: 25px;
    --border-menu: 10px;

    --color_test: #000000;
    --font_test: #fff;

    --background: #ffffff;
    --color1: #0C0A3E;
    --color2: #242281;
    --color3: #fff;
    --color4: #2756f0;
    --color5: #218aec;
    --color6: #ffffff;
    --color7: #cde3ff;
    --color8: #060528;
    --color9: #3532d3;
    --color-title1: #00095c;
    --color-title2: #00223d;
    --color-button-product: #0011a8;
    --color-button-product2: #005fee;
    --color-background-product: #bebebe;
    --color-product: #fff;
    --font1: #000;
    --font2: #fff;
    --font3: #fff;
}

.body_section {
    background-color: var(--background);
    margin: 0px;
    font-family: Poppins, sans-serif;
    font-size: 90%;  
    min-height: 100vh;
    color: #000;
    display: grid;
    grid-template-columns: auto;
    overflow-x: hidden;
    position: relative;
}

a {
    color: var(--font2);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--font2);
    font-size: 25px;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 20px;
    outline: none;
}

header {
    background-color: var(--color1);
    display: grid;
    grid-template-columns: 15% auto 15% 15%;
    grid-template-rows: auto auto;
    align-items: center;
    width: 100%;
    position: fixed; 
    z-index: 1000;
}

#buscar {
    position: relative;
    /* width: 250px; */
}

#buscar input {
    width: 90%;
    border-radius: 100px;
    border: 0px;
    height: 40px;
}

#buscar i {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    color: #888;
}

header > a,
header > div {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: var(--font2);
    gap: 10px;
    margin-block: 35px;
}

header p {
    margin: 0;
}

header i {
    font-size: 150%;
}

header img {
    height: 60px;
} 

nav {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    z-index: 999;
    grid-column: 1 / -1;
    font-size: 95%;
    padding: 5px
}

nav a,
nav div {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5px;
    padding-inline: 20px;
    border-radius: var(--border-item);    
    border: 1px solid var(--font2);
    background-color: var(--color2);
    color: var(--font2);
    margin-block: 5px;
}

nav div:hover,
nav a:hover {    
    background-color: var(--font2);
    color: var(--color2);
    transition: 0.025s;
}

nav i {
    margin-right: 10px;
    font-size: 125%;
}

/* MENU */

#menu_content {
    display: flex;
    flex-direction: column;
    background-color: var(--color9);
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: scroll;
    padding: 15px;
    margin-top: var(--height-main-header);
    transition: 0.5s;
    z-index: 999;
    color: var(--background);
    gap: 10px;
}
/* 
#menu_content:hover{
    overflow-y: scroll;
} */

.desplegar {
    transform: translateX(-100%);
}

.menu_element {    
    background-color: var(--background);
    color: var(--color9);
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: var(--border-menu);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;    
    cursor: pointer;
    border: 1px solid var(--background);
    width: 100%;
}

.menu_element:hover {
    color: var(--background);
    background-color: var(--color9);
}

.menu_element i,
.menu_element span {
    text-align: center;
    justify-self: center;
}

.menu_element .fa-chevron-down {
    border-radius: 100%;
    padding: 10px;
}

.menu_element .fa-chevron-down:hover {
    background-color: #e7e7e7;
}

.submenu_content {
    display: none;
    flex-direction: column;
    margin-inline: 10px;
    gap: 5px;
}

.submenu_content a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--color5);
    padding-inline: 20px;
    border-radius: 10px;
}

.submenu_content a:hover {    
    background-color: var(--color2);
}

/* PIE DE PAGINA */

footer {
    padding: 25px;
    background-color: var(--color8);
    color: var(--font3);
    display: grid;
    justify-content: center;
    gap: 6.5%;
    text-align: center;
    grid-template-columns: repeat(4,auto);    
}

footer h2 {
    background-color: var(--background);
    color: var(--color8);
    text-align: center;
    border-radius: var(--border-tag);
    padding-inline: 20px;
    font-size: 120%;
}

#logo_footer {
    height: 105px;
    border-bottom: 1px solid var(--background);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#social {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,50px);
    justify-items: center;
}

#social i {
    font-size: 205%;
}

.footer_column {
    align-self: flex-start;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer_column a,
.footer_column p {
    margin-bottom: 10px;
}

/* CONTENIDO */

section {
    display: grid;
    grid-template-columns: 100%;
    /* gap: 10px; */
    margin-top: var(--height-main-header);
}

section article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* border-radius: var(--border-article); */
}

.article_title_1 {
    border-radius: var(--border-title);
    width: fit-content;
    padding-inline: 20px;
    padding-block: 5px;
    margin-block: 5px;
    justify-self: center;
    background-color: var(--color-title2);
    /* background-color: inherit; */
    filter: brightness(1.5);
}

.article_title_1:hover {
    scale: 1.075;
    transition: 0.1s;
}

/* ---------------------------- HOMEPAGE ---------------------------- */

/* PROMOCIONES Y ANUNCIOS */

.article_promotion {
    padding-block: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #0059ff;
    border-radius: 100%;
    padding: 20px;
}

/* .carousel-indicators button {
    background-color: var(--color1);
} */

.carousel-indicators .active {
    background-color: var(--color1);
}

/* EXCLUSIVIDAD DOMUS */

.article_banner_domus {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    background: url(../img/exclusividad/domus_bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: #000425d2;
    color: var(--font2);
}

.article_banner_domus p {
    font-size: 150%;
    margin-block: 10px;
}

.domus_img {    
    background-color: #000;
    width: 100%;
}

.domus_text {
    text-align: right;
    grid-template-areas: "img title"
                         "img text";
}

.domus_text2 {
    text-align: left;
    grid-template-areas: "title img"
                         "text img";
}

.domus_info {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);    
    column-gap: 25px;
    row-gap: 15px;
    align-items: flex-start;
    padding-inline: 5%;
    padding-block: 2%;
    /* color: var(--font2); */
}

.domus_info h2 {
    align-self: flex-end;
    text-align: center;
    grid-area: title;
    margin-block: 5px;
    font-size: 150%;
}

.domus_info img {
    width: 350px;
    border-radius: 50px;
    grid-area: img;
}

/* OFERTAS */

.article_for_sale {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: auto;
    background-color: var(--color4);
    justify-content: center;
}

/* .article_for_sale h1 {
    background-color: var(--color4);
} */

.article_for_sale>div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    height: auto;
    justify-content: center;
}

.article_for_sale>div img {
    height: 350px;
    border-radius: var(--border-item);
    text-align: center;
}

/* PRODUCTOS */

.article_products {
    flex-direction: column;
}

.list_product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.product {
    border-radius: var(--border-product);
    padding: 0px;
    font-size: 85%;
    width: 190px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "info info"
                         "fav plus";
    box-shadow: 0px 3px 10px #0000008c;
    color: var(--font1);
    gap: 1px;
    background-color: var(--color-background-product);
}

.product:hover {
    scale: 1.05;
    transition: 0.1s;
}

.product a>p {
    font-size: 115%;
}

.product a {
    padding-inline: 15px;
    padding-block: 10px;
}

.product a img {
    height: 150px;
    width: 150px;
}

.product_info {
    border-top-left-radius: var(--border-product);
    border-top-right-radius: var(--border-product);
    grid-area: info;
    color: #000;
    background-color: var(--color-product);
}

.product_price {

    display: flex;
    align-items: center;
    width: 100%;
}

.product_price p {
    margin-block: 5px;
}

.product_price_title {
    text-align: left;
    padding-right: 25px;
    font-weight: bold;
}

.price_regular {
    color: grey;
    font-size: 95%;
}

.price_online {
    color: black;
    font-size: 120%;
}

.price_for_sale {
    color: red;
    font-size: 150%;
}

.product_price_number {
    margin-left: auto;
    display: flex;
    align-items: baseline;

}

.product_price_number sup {
    font-size: 75%;
}

.product_option_fav {
    border-bottom-left-radius: var(--border-product);
    grid-area: fav;
}

.product_option_add {
    border-bottom-right-radius: var(--border-product);
    grid-area: plus;
}

.product_option_fav, 
.product_option_add {
    font-size: 150%;
    background-color: var(--color-button-product);
    color: white;
    /* height: 30px; */
}

.product_option_fav:hover, 
.product_option_add:hover {
    background-color: var(--color-button-product2);
}

/* LO MAS NUEVO */

#product_new {
    background-color: var(--color5);
}

#product_new  h1 {
    background-color: var(--color-title1);
}

/* LO MAS POPULAR */

#product_popular {
    background-color: var(--color6);
}

#product_popular  h1 {
    background-color: var(--color-title1);
}

/* MARCAS */

.article_brands {
    background-color: var(--color7);
    flex-direction: column;
}

.article_brands h1 {
    background-color: var(--color-title2);
}

.brand_content {
    display: flex;
    gap: 50px;
    align-items: center;    
    width: auto;
}

.brand_name {
    text-align: center;
    font-size: 120%;
    color: white;
    background-color: var(--color5);
    border-radius: var(--border-item);
}

.brand_content div:not(.product) {
    display: flex;
}

.brand_picture {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.brand_picture:hover {
    scale: 1.05;
    transition: 0.1s;
}

.brand_picture img {
    height: 150px;
    width: 150px;
    border-radius: var(--border-item);
}

.brand_picture img ,
.brand_picture p {
    box-shadow: 1px 1px 5px var(--color1);
}

/* .brand_new {
    background-color: #000;
} */

.brand_new img {
    height: 400px;
}

/* 2 O MAS ARTICLES */

.article_brands>div ,
.article_products>div {
    margin: 20px;
}

/* ------------------- PRODUCTO --------------- */

/* PRODUCTOS SIMILARES */

#product_similar {
    background-color: var(--color5);
}

/* DE LA MISMA MARCA */

#product_brand {
    background-color: var(--color4);
}

/* ------------------- MARCAS --------------- */

.article_brands_gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: auto;
    background-color: var(--color7);
    justify-content: center;
}

.brands_filters {
    display: flex;
    background-color: var(--color4);
    width: 100%;
    text-align: center;
    color: var(--background);
    padding-block: 10px;
    border-radius: var(--border-tag);
    align-items: center;
}

.select_filter label {
    margin-inline-end: 20px;
}

.select_filter select {
    text-align: center;
    outline: none;
    border: 0px;
    padding: 5px;
    border-radius: var(--border-tag);
}

.brands_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 20px;
    justify-content: center;
    background-color: var(--background);
    border-radius: var(--border-tag);
}

.pagination_brands {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background-color: var(--color4);
    padding: 10px;
}

.pagination_brands i ,
.pagination_brands p {
    background-color: var(--background);
    color: var(--font1);
    padding: 10px;
    margin: 0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
}

/* ------------------- MARCA SAMSUNG --------------- */

.article_selected_brand {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(../img/marcas/banner_samsung.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    /* filter: brightness(0.5); */
}

.brand_page {    
    justify-content: center;
    color: white;
    text-align: center;
}

/* ------------------- CARRITO --------------- */


.header_carrito {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.header-resumen {
    display: flex;
    justify-content: flex-end; /* Alinea los items a la derecha */
    align-items: center;
    background-color: #4e4e8c; /* Color de fondo para la cabecera */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio debajo de la cabecera */
}

.header-item {
    text-align: center; 
    font-weight: bold;
}

.img-carrito{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.titu-carrito{
    color: #000;
}

.step-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.step {
    text-align: center;
    flex: 1;
    position: relative;
}

.step .circle {
    width: 24px;
    height: 24px;
    background-color: #555;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.step.active .circle {
    background-color: #4e4e8c;
}

.step .label {
    margin-top: 10px;
    color: #333;
}

.step::before, .step::after {
    content: '';
    position: absolute;
    top: 12px;
    height: 2px;
    background-color: #555;
    z-index: 0;
}

.step::before {
    left: 0;
    right: 50%;
}

.step::after {
    left: 50%;
    right: 0;
}

.step:first-child::before {
    display: none;
}

.step:last-child::after {
    display: none;
}

.nombreProducto {
    margin: 0;
    font-size: 0.8rem;
}

.vendido-por {
    margin: 0;
    font-size: 0.7rem;
}

.btn-round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 18px;
    color: #4e4e8c;
    border-color: #4e4e8c;
}

.cant {
    font-size: 1.2rem;
}

.signo {
    font-size: 18px; /* Tama침o del signo dentro del bot칩n */
}

.cart-icon img {
    width: 40px; 
    height: auto;
}

.titu-carrito {
    font-size: 1.5rem;
}

.cart-summary {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.discount-code {
    margin-bottom: 20px;
}

.discount-code label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.discount-code input {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.discount-code button {
    padding: 10px 20px;
    background-color: #4e4e8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.discount-code p {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

.totals {
    margin-bottom: 20px;
}

.totals p {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 10px 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions .checkout {
    padding: 15px 30px;
    background-color: #4e4e8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.actions .checkout:hover {
    background-color: #3b3b6b;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.card-text span {
    display: block;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}

.carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@media (max-width: 768px) {
    .carousel-item .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.actions .checkout {
    padding: 15px;
    background-color: #4e4e8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Asegura que el bot칩n ocupe todo el ancho disponible */
}

#seguir{
    padding: 10px;
    background-color: #4e4e8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 55%; /* Asegura que el bot칩n ocupe todo el ancho disponible */
}


/* -------------------TAMBIEN CARRITO PERO CARRUSEL--------------- */

.list_product {
    padding-inline: 10px;
    width: 100%;
    position: relative;
}

.list_product .arrow-car {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 999;
}
.list_product > i:active{
    transform: translateY(-50%) scale(0.85);
}
.list_product > i:first-child{
    left: -22px;
}
.list_product  > i:last-child{
    right: -22px;
}
.list_product .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .product {
    cursor: grab;
    user-select: none;
}

/* MENU DE BUSQUEDA */

.search-container {
    position: relative !important;
    max-width: 600px !important;
    margin: 0 auto !important;
    z-index: 1001 !important;
    color: #000 !important;
}

#search {
    width: 100%;
    padding: 10px !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1001;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #303134;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1001;
}

.suggestions p {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    z-index: 1001;
}

.suggestions p:hover {
    background-color: #3b3b6b;
    color: white;
    z-index: 1001;
}
