:root {    
    --color-catalogue-background2: #003e68;
    --color-catalogue-background: #00152d;
    --color-catalogue: #236bd7;
    --color-filter: #003d98;
    --border-radius-catalogue-content: 1rem;
    --space-catalogue: 2rem;
    --size-pagination-char: 3rem;

}

.article_catalogue {
    background: linear-gradient(var(--color-catalogue-background),var(--color-catalogue-background2));
}

.catalogue_content {
    width: 100%;
    padding-inline: var(--space-catalogue);
    gap: calc(var(--space-catalogue) - 0.5rem);
    display: grid;
    grid-template-columns: 25vw 65vw;
    justify-content: center;
}

/* Cuadro de filtros */

.ctlg_filters {
    font-size: 0.9rem;
    text-align: center;
    background-color: #dce0f6;
    height: fit-content;
    display: grid;
    gap: 4px;
    padding: 1.2rem;
    border-radius: var(--border-radius-catalogue-content);
}

.ctlg_filters_head {
    font-size: 120%;
    gap: 0;
    color: #01012d;
}

.ctlg_filters_head span,
.ctlg_filters_head i {
    margin: 0;
}

.ctlg_filters_head hr {
    margin: 0.75rem;
}

.ctlg_filters_content {
    margin-block: 1rem;
    gap: 3px;
    display: grid;
    color: white;
}

.ctlg_filters_element {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-filter);
    padding-block: 0.5rem;
    padding-inline: 0.7rem;
    border-radius: var(--border-radius-element);
    transition: 0.07s ease;
    cursor: pointer;
    /* width: 60vw; */
}

.ctlg_filters_element:hover {
    background-color: #1f50cc;
}

.ctlg_filters_element p,
.ctlg_filters_element i {
    padding: 0;
    margin: 0;
}

.ctlg_filters_element p {
    text-align: left;
}

.ctlg_filters_element i {
    text-align: center;
}

.ctlg_filters_element i + i {
    text-align: right;
}

.ctlg_filters_element.active {
    background-color: #1f50cc;
    border: 2px solid #ffffff;
}

.ctlg_filters_clean {
    color: #ffffff;
    background-color: var(--color-catalogue);
    border: 0.1rem solid #fff;
    align-items: center;
    gap: 1rem;
    padding-block: 0.5rem;
    padding-inline: 0.7rem;
    border-radius: var(--border-radius-element);
    transition: 0.05s ease;
}

.ctlg_filters_clean:hover {
    scale: 1.05;
    background-color: #ffffff;
    color: var(--color-filter);
}

.ctlg_filters_subcontent {
    display: grid;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding-block: 0.5rem;
    background-color: white;
    padding-inline: 0.7rem;
    overflow: hidden;
    border-radius: var(--border-radius-element);
    transition: max-height 0.3s ease-in-out, padding-block 0.3s ease-out;
}

.ctlg_filters_subcontent .show {
    max-height: auto;
    padding-block: 0.5rem;
    transition: max-height 0.5s ease-in-out;
}

.ctlg_filters_subcontent_hidden {
    display: none;
    max-height: 0;
    padding-block: 0; 
    overflow: hidden;
}

.ctlg_filters_subelement {    
    background-color: #0080c5;
    color: #fff;
    /* border: 0.1vw solid #fff; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    border-radius: 7px;
    padding-block: 0.4rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.ctlg_filters_subelement i {
    text-align: center;
    margin: 0;
    padding: 0;
}

.ctlg_filters_subelement:hover {
    color: #ffffff;
    background-color: var(--color-filter);
}

/* Cuadro de contenido de productos */

.catalogue_products {
    background-color: #e1e1e1;
    border-radius: var(--border-radius-catalogue-content);
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "ctlg_filter" "ctlg_wrap" "ctlg_pagination";
}

.wrap_product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 1.5rem;
    grid-area: ctlg_wrap;
}

.catalogue_products .brands_filters ,
.catalogue_products .pagination_brands {
    border-radius: 0;
    background-color: #298dff;
    z-index: 1000;
    /* font-size: 0.9rem; */
}

.catalogue_products .brands_filters {
    border-top-left-radius: var(--border-radius-catalogue-content);
    border-top-right-radius: var(--border-radius-catalogue-content);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ctlg_order ctlg_number";
    grid-template-rows: auto;
    grid-area: ctlg_filter;
}

.catalogue_products .brands_filters select {
    border-radius:  var(--border-radius-element);
}

.catalogue_products .brands_filters .select_filter {
    grid-area: ctlg_order;
}

.catalogue_products .brands_filters .pagination_brands {
    grid-area: ctlg_number;
}


.catalogue_products .pagination_brands {
    border-bottom-left-radius:  var(--border-radius-catalogue-content);
    border-bottom-right-radius:  var(--border-radius-catalogue-content);
    grid-area: ctlg_pagination;
}

.brands_filters {
    display: grid;
    background-color: var(--color9);
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: center;
    color: var(--background);
    padding-block: 10px;
    border-radius: var(--border-tag);
    align-items: center;
    padding-inline: 4rem;
    padding-block: 1rem;
    /* font-size: 0.9rem; */
}

.brands_filters .select_filter {
    justify-self: start;
}

.brands_filters .pagination_brands {
    justify-self: end;
    padding: 0;
}

.select_filter label {
    margin-inline-end: 1rem;
}

.select_filter select {
    text-align: center;
    outline: none;
    border: 0px;
    padding: 5px;
    border-radius: var(--border-tag);
}

.pagination_brands {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background-color: var(--color9);
    border-radius: 100px;
    /* font-size: 0.2rem; */
    padding: 1vw;
}

.pagination_brands i ,
.pagination_brands p {
    color: var(--font2);
    padding: 0;
    margin: 0;
    border-radius: 100%;
    width: var(--size-pagination-char);
    height: var(--size-pagination-char);
    text-align: center;
    align-content: center;
    font-size: 1.2rem;
}

.pagination_brands i {
    background-color: #1b2f80;
}

.pagination_brands p {
    color: var(--color10);
    background-color: white;
}

.pagination_brands i:hover {
    background-color: #00197c;
}

.pagination_brands p:hover {
    background-color: var(--color10);
    color: white;
}



@media (max-width:599px){
    
    .catalogue_content {
        grid-template-columns: 85vw;
        grid-template-rows: auto auto;
    }

    .catalogue_products .brands_filters {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

}



@media (min-width:600px) and (max-width:1000px){
    .catalogue_content {        
        grid-template-columns: 35% 60%;
    }

    .catalogue_products .brands_filters {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

}
  