:root {    
    --size-img-for-sale-gallery: 60vw;
    --gap-for-sale-gallery: 1vw;

    --size-pagination-char: 3vw;
}


/* ---------------------------- HOMEPAGE ---------------------------- */

/* PROMOCIONES Y ANUNCIOS */

.article_promotion {
    padding-top: 0;
    padding-bottom: 10px;
    padding-inline: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* background-color: var(--color10); */
    background-color: black;
    /* border: 5px solid var(--color10); */
    border: 5px solid black;
    border-radius: 100%;
    padding: 1.1vw;
}

.carousel-indicators .active {
    background-color: var(--color1);
}

/* EXCLUSIVIDAD DOMUS */

.article_banner_domus {
    padding-block: 0;
    display: flex;
    flex-direction: column;
    background: url(../img/exclusividad/domus_bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: #000425d2;
    color: var(--font2);
}

.domus_title {
    font-size: 2rem;
    margin-block: 0.75rem;
}

.domus_img {    
    background-color: #000;
    width: 100%;
}

.domus_info {
    display: grid;
    column-gap: 25px;
    row-gap: 15px;
    align-items: flex-start;
    padding-inline: 5rem;
    padding-block: 3rem;
    justify-items: center;
    font-size: 1.3vw;
    align-items: center;
}

.domus_info h2 {
    align-self: flex-end;
    text-align: center;
    grid-area: title;
    margin-block: 5px;
    font-size: 150%;
    grid-area: d_title;
    font-weight: bold;
}

.domus_info img {
    border-radius: 50px;
    grid-area: d_img;
}

.domus_info p {
    grid-area: d_text;
    margin: 0;
    align-self: flex-start;
}

.domus_text {
    text-align: right;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "d_img d_title"
                         "d_img d_text";
}

.domus_text2 {
    text-align: left;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "d_title d_img"
                         "d_text d_img";
}

/* OFERTAS */

.article_for_sale {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    background-color: var(--color4);
    justify-content: center;
}

.for_sale_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-for-sale-gallery);
    padding-inline: 0rem;
    justify-content: center;
    align-items: center;
}

.for_sale_gallery img {
    border-radius: var(--border-item);
    text-align: center;
}

.img_for_sale_horizontal {
    width: var(--size-img-for-sale-gallery);
}

.img_for_sale_vertical {
    width: calc((var(--size-img-for-sale-gallery) - var(--gap-for-sale-gallery)) / 2);
}

/* LO MAS NUEVO */

.article_product_new {
    background-color: var(--color5);
}

/* LO MAS POPULAR */

.article_product_popular {
    background-color: var(--color6);
}

/* MARCAS */

.article_brands {
    background-color: var(--color7);
    flex-direction: column;
    row-gap: 20px;
}

.brand_content {
    display: grid;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1.1fr 2fr 4.5fr;
    grid-template-areas: "b_logo b_new b_product";
    margin-inline: 1vw;
    justify-items: center;
}

.brand_picture {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    grid-area: b_logo;
}

.brand_picture:hover {
    scale: 1.05;
    transition: 0.1s;
}

.brand_picture img {
    width: 10vw;
    border-radius: var(--border-item);
}

.brand_picture img ,
.brand_picture p {
    box-shadow: 0px 0px 5px var(--color1);
    transition: 0.1s ease;
}

.brand_picture img:hover ,
.brand_picture p:hover {
    box-shadow: 0px 0px 15px var(--color1);

}

.brand_picture img ,
.brand_picture p {
    box-shadow: 0px 0px 5px var(--color1);
}


.brand_name {
    text-align: center;
    font-size: 120%;
    color: white;
    background-color: var(--color9);
    border-radius: var(--border-item);
    padding-inline: 20px;
    padding-block: 5px;
    margin: 0;
}

.brand_new {
    grid-area: b_new;
}

.brand_products {
    grid-area: b_product;
}

/* ------------------- MARCAS --------------- */

.article_brands_gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 5vw;
    height: auto;
    background-color: var(--color7);
    justify-content: center;
}

.brands_filters {
    display: grid;
    background-color: var(--color9);
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: center;
    color: var(--background);
    padding-block: 10px;
    border-radius: var(--border-tag);
    align-items: center;
    padding-inline: 4vw;
    padding-block: 1vw;
}

.brands_filters .select_filter {
    justify-self: start;
    font-size: 1.2vw;
    /* gap: 20px; */
}

.select_filter label {
    margin-inline-end: 1vw;
}

.select_filter select {
    text-align: center;
    outline: none;
    border: 0px;
    padding: 5px;
    border-radius: var(--border-tag);
}

/* select option {
    text-align: left;
} */

.brands_filters .pagination_brands {
    justify-self: end;
    padding: 0;
}

.brands_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-block: 2vw;
    padding-inline: 1vw;
    justify-content: center;
    background-color: var(--background);
    border-radius: var(--border-tag);
}

.pagination_brands {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background-color: var(--color9);
    border-radius: 100px;
    font-size: 20px;
    padding: 1vw;
}

.pagination_brands i ,
.pagination_brands p {
    color: var(--font2);
    padding: 0;
    margin: 0;
    border-radius: 100%;
    width: var(--size-pagination-char);
    height: var(--size-pagination-char);
    text-align: center;
    align-content: center;
    font-size: 1.2vw;
}

.pagination_brands i {
    background-color: #1b2f80;
}

.pagination_brands p {
    color: var(--color10);
    background-color: white;
}

.pagination_brands i:hover {
    background-color: #00197c;
}

.pagination_brands p:hover {
    background-color: var(--color10);
    color: white;
}


@media (max-width:599px){
    :root {    
        --size-img-for-sale-gallery: 85vw;
        --gap-for-sale-gallery: 3vw;
    }

    .domus_info {
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        font-size: 4vw;
        padding-inline: 10vw;
        padding-block: 5vw;
    }

    .domus_text {
        text-align: right;
        grid-template-areas: "d_img"
                             "d_title"
                             "d_text";
    }
    
    .domus_text2 {
        text-align: left;
        grid-template-areas: "d_img"
                             "d_title"
                             "d_text";
    }

    .article_brands {
        row-gap: 10vw;
    }

    .brand_content {
        margin-inline: 10vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "b_logo"
                             "b_new"
                             "b_product";
        gap: 5vw;
    }

    .brand_picture {
        gap: 5vw;
    }

    .brand_picture img {
        width: 35vw;
    }

    .brands_gallery {
        gap: 7vw;
        padding-block: 7vw;
        padding-inline: 2vw;
        /* justify-content: center; */
    }
}

@media (min-width:600px) and (max-width:1000px){
    :root {    
        --size-img-for-sale-gallery: 80vw;
        --gap-for-sale-gallery: 2vw;
    }
    
    .domus_info {
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        font-size: 2.5vw;
        padding-block: 4vw;
    }

    .domus_text {
        text-align: right;
        grid-template-areas: "d_img"
                             "d_title"
                             "d_text";
    }
    
    .domus_text2 {
        text-align: left;
        grid-template-areas: "d_img"
                             "d_title"
                             "d_text";
    }

    .article_brands {
        row-gap: 3vw;
    }

    /* .brand_content {
        margin-inline: 3vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2.5fr;
        grid-template-areas: "b_logo b_new"
                             "b_product b_new";
    } */

    .brand_content {
        margin-inline: 5vw;
        gap: 2vw;
        grid-template-columns: 0.5fr 0.75fr;
        grid-template-rows: 0.5fr 0.01fr;
        grid-template-areas: "b_logo b_product"
                             "b_new b_product";
    }

    .brand_picture {
        gap: 2vw;
    }

    .brand_picture img {
        /* height: 35vw; */
        width: 15vw;
    }
}








/* ------------------- PRODUCTO --------------- */

.product_information {
    display: block;
    padding: 20px;
}

.breadcrumb {
    margin: 20px 0;
    font-size: 14px;
    gap: 10px;
}

.breadcrumb a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 5px;
}

/* Product main section */
.product-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-gallery {
    flex: 1;
    max-width: 50%;
}

.product-gallery .main-image img {
    width: 100%;
    border-radius: 10px;
}

.thumbnail-images img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.product-info {
    flex: 1;
    max-width: 40%;
    padding: 20px;
}

.product-info h1 {
    font-size: 24px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating span {
    color: gold;
    font-size: 20px;
}

.rating p {
    margin-left: 10px;
}

.brand-logo img {
    width: 100px;
    margin: 20px 0;
}

.features {
    background: #118adb;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.features h3 {
    margin: 0 0 10px;
}

.features ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.features ul li {
    margin: 5px 0;
}

.price {
    background: #E6F5FF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.price h3 {
    margin: 0 0 10px;
}

.price p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.price .stock {
    margin: 10px 0;
}

.quantity {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity input {
    width: 50px;
    text-align: center;
}

.quantity button {
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.add-to-cart {
    background: #007BFF;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Product details */
.product-details {
    background: #CCF2FF;
    padding: 20px;
    margin-top: 20px;
}

.product-details h2 {
    text-align: center;
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.specifications, .additional-info {
    flex: 1;
    max-width: 45%;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.specifications h3, .additional-info h3 {
    margin-top: 0;
}

.specifications ul, .additional-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.specifications ul li, .additional-info ul li {
    margin: 5px 0;
}

.additional-info p {
    margin-top: 0;
}

.view-more {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* PRODUCTOS SIMILARES */

#product_similar {
    background-color: var(--color5);
}

/* DE LA MISMA MARCA */

#product_brand {
    background-color: var(--color4);
}

/* ------------------- MARCA SAMSUNG --------------- */

.article_selected_brand {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(../img/marcas/banner_samsung.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    /* filter: brightness(0.5); */
}

.brand_page {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

/* ------- CATEGORIA TECNOLOGIA ------- */

.article_category {
    flex-direction: column;
}

.subcategory_picture .subcategory-icon {
    font-size: 200px;
    padding: 20px;
    color: var(--color-title2);
}

/* ------------------ CATALOGO ------------------------ */

/* .article_catalogue {
    a
} */

.catalogue_content {
    width: 100%;
    padding-inline: 1vw;
    gap: 1vw;
    display: flex;
    /* grid-template-columns: 30% auto; */
    /* text-align: right; */
}

.catalogue_filters {
    width: 60vw;
    background-color: #4c4cff;
    height: auto;
}

.catalogue_products {
    background-color: #7fffd4;
}

.wrap_product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: blue;
    margin-block: 10px;
    margin-inline: 30px;
}




