
/* ---------------------------- HOMEPAGE ---------------------------- */

/* CARRUSEL PROMOCIONES Y ANUNCIOS */

.article_promotion {
    padding-top: 0;
    padding-bottom: 10px;
    padding-inline: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border: 5px solid black;
    border-radius: 100%;
    padding: 1.1vw;
}

.carousel-indicators .active {
    background-color: var(--color1);
}

/* EXCLUSIVIDAD DOMUS */

.article_banner_domus {
    padding-block: 0;
    display: flex;
    flex-direction: column;
    background: url(../img/exclusividad/domus_bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: #000425d2;
    color: var(--font2);
}

.domus_title {
    font-size: 2rem;
    margin-block: 0.75rem;
}

.domus_img {    
    background-color: #000;
    width: 100%;
}

.domus_info {
    display: grid;
    column-gap: 25px;
    row-gap: 15px;
    align-items: flex-start;
    padding-inline: 5rem;
    padding-block: 3rem;
    justify-items: center;
    font-size: 1.3vw;
    align-items: center;
}

.domus_info h2 {
    align-self: flex-end;
    text-align: center;
    grid-area: title;
    margin-block: 5px;
    font-size: 150%;
    grid-area: d_title;
    font-weight: bold;
}

.domus_info img {
    border-radius: 50px;
    grid-area: d_img;
}

.domus_info p {
    grid-area: d_text;
    margin: 0;
    align-self: flex-start;
}

.domus_text {
    text-align: right;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "d_img d_title"
                         "d_img d_text";
}

.domus_text2 {
    text-align: left;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "d_title d_img"
                         "d_text d_img";
}

/* OFERTAS */

.article_for_sale {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    background-color: var(--color4);
    justify-content: center;
}

/* MARCAS */

.article_brands {
    background-color: var(--color7);
    flex-direction: column;
    row-gap: 20px;
}

.brand_content {
    display: grid;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1.1fr 2fr 4.5fr;
    grid-template-areas: "b_logo b_new b_product";
    margin-inline: 1vw;
}

.brand_picture {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    grid-area: b_logo;
    cursor: pointer;
}

.brand_picture:hover {
    scale: 1.05;
    transition: 0.1s;
}

.brand_picture img {
    width: 10vw;
    border-radius: var(--border-item);
}

.brand_picture img ,
.brand_picture p {
    box-shadow: 0px 0px 5px var(--color1);
    transition: 0.1s ease;
}

.brand_picture img ,
.brand_picture p {
    box-shadow: 0px 0px 10px #2e5cd3;
}

.brand_picture img:hover {
    box-shadow: 0px 0px 25px #6a94ff;
}

.brand_name {
    text-align: center;
    font-size: 120%;
    color: white;
    background-color: var(--color9);
    border-radius: var(--border-item);
    padding-inline: 20px;
    padding-block: 5px;
    margin: 0;
}

.brand_new {
    grid-area: b_new;
}

.brand_products {
    grid-area: b_product;
}

/* ------------------- CATALOGO MARCAS --------------- */

.article_brands_gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 5vw;
    height: auto;
    background-color: var(--color7);
    justify-content: center;
}



.brands_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-block: 2vw;
    padding-inline: 1vw;
    justify-content: center;
    background-color: var(--background);
    border-radius: var(--border-tag);
}

@media (max-width:599px){
    :root {    
        --size-img-for-sale-gallery: 85vw;
        --gap-for-sale-gallery: 3vw;
    }

    .domus_info {
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        font-size: 4vw;
        padding-inline: 10vw;
        padding-block: 5vw;
    }

    .domus_text {
        text-align: right;
        grid-template-areas: "d_img"
                             "d_title"
                             "d_text";
    }
    
    .domus_text2 {
        text-align: left;
        grid-template-areas: "d_img"
                             "d_title"
                             "d_text";
    }

    .article_brands {
        row-gap: 10vw;
    }

    .brand_content {
        margin-inline: 10vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "b_logo"
                             "b_new"
                             "b_product";
        gap: 5vw;
    }

    .brand_picture {
        gap: 5vw;
    }

    .brand_picture img {
        width: 35vw;
    }

    .brands_gallery {
        gap: 7vw;
        padding-block: 7vw;
        padding-inline: 2vw;
        /* justify-content: center; */
    }
}

@media (min-width:600px) and (max-width:1000px){
    .domus_info {
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        font-size: 2.5vw;
        padding-block: 4vw;
    }

    .domus_text {
        text-align: right;
        grid-template-areas: "d_img"
                             "d_title"
                             "d_text";
    }
    
    .domus_text2 {
        text-align: left;
        grid-template-areas: "d_img"
                             "d_title"
                             "d_text";
    }

    .article_brands {
        row-gap: 3vw;
    }

    .brand_content {
        margin-inline: 5vw;
        gap: 2vw;
        grid-template-columns: 0.5fr 0.75fr;
        grid-template-rows: 0.5fr 0.01fr;
        grid-template-areas: "b_logo b_product"
                             "b_new b_product";
    }

    .brand_picture {
        gap: 2vw;
    }

    .brand_picture img {
        width: 15vw;
    }
}

/* ------------------- PAGINA MARCA --------------- */

.article_selected_brand {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(../img/marcas/banner_samsung.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
}

.brand_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

/* --------------------- COLOR ARTICLE ----------------------- */

/* LO MAS NUEVO */

.article_product_new {
    background-color: var(--color5);
}

/* LO MAS POPULAR */

.article_product_popular {
    background-color: var(--color6);
}

/* PRODUCTOS SIMILARES */

.article_product_similar {
    background-color: var(--color5);
}

/* DE LA MISMA MARCA */

.article_product_brand {
    background-color: var(--color4);
}
